:root {
  --primary: #b6895b;
  --secondary: rgba(240, 82, 9, 1);
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* hapus nanti */
  /* min-height: 2000px; */
}

/* Google Translate */
/* .goog-te-gadget img {
  display: none !important;
}

#goog-gt-tt {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}
body {
  top: 0px !important;
} */
/* body > .skiptranslate {
  display: none;
} */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.4rem 7%; */
  padding-top: 1.4rem;
  padding-bottom: 1.3rem;
  padding-left: 7%;
  padding-right: 7%;
  /* background-color: rgba(1, 1, 1, 0.8); */
  background-color: rgba(240, 82, 9, 1);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

/* .navbar .navbar-logo span { */
/* color: var(--primary); */
/* } */

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  /* border-bottom: 0.1rem solid var(--primary); */
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-nav a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover {
  /* color: var(--primary); */
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Hero Section */

.hero {
  display: flex;
}

.hero,
.about,
.market,
.contact {
  min-height: 100vh;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
}

.about {
  background-image: url("../img/header-bg.jpg");
}

.market {
  background-image: url("../img/header-bg.jpg");
}

.contact {
  background-image: url("../img/header-bg.jpg");
}

.hero::after,
.about::after,
.market::after,
.contact::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content,
.about .content,
.market .content,
.contact .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

/* .hero .content h1 span { */
/* color: var(--primary); */
/* } */

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;

  background-color: rgba(1, 1, 3, 0.5);

  padding: 10px;
  text-align: justify;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* About Section */

.about,
.market,
.contact {
  padding: 8rem 7% 1.4rem;
}

.home-industry,
.agriculture-industry,
.marine-industry,
.mining-industry {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.market h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  margin-bottom: 3rem;
}

.home-industry h2,
.agriculture-industry h2,
.marine-industry h2,
.mining-industry h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

/* .about h2 span, */
/* .market h2 span, */
/* .contact h2 span { */
/* color: var(--primary); */
/* } */

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgba(1, 1, 3, 0.5);

  padding: 10px;
}

/* market Section */
.market h2,
.contact h2 {
  margin-bottom: 1rem;
}

.market p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;

  padding: 10px;
}

.market p {
  background-color: rgba(1, 1, 3, 0.5);
}

.market .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  text-align: center;
}

.market .row .menu-card {
  max-width: 25%;
  padding-bottom: 4rem;
}
.market .row .menu-card img {
  border-radius: 50%;
  width: 75%;
}

.market .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(34, 34, 34, 0.5);
}

.contact .row {
  display: flex;
}

.contact .row .about-img {
  flex: 1 1 45rem;
}

/* .contact .row .about-img img { */
/* padding-left: 1rem; */
/* } */

.contact .row .content {
  flex: 1 1 35rem;
  padding: 0 100rem;
}

.contact .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.contact .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgba(1, 1, 3, 0.5);

  padding: 10px;
}

.contact .row div div ul li a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.contact .row div div ul li a:hover {
  color: var(--primary);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Tabel */

table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
  table-layout: fixed;

  margin: auto;
  counter-reset: tableCount;
}

.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

table th {
  padding: 15px 35px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}

table th:first-child {
  padding-left: 20px;

  border-left: none;
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table td:first-child {
  /* text-align: left; */
  padding-left: 20px;
  border-left: 0;
}

table td {
  padding: 15px 35px;
  word-wrap: break-word;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fbfbfb),
    to(#fafafa)
  );
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f2f2f2),
    to(#f0f0f0)
  );
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    background-color: rgba(1, 1, 3, 0.5);

    font-size: 1.6rem;
  }

  .market p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
