:root {
  --primary: #b6895b;
  --secondary: rgba(240, 82, 9, 1);
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: #fff;
  /* hapus nanti */
  /* min-height: 2000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.4rem 7%; */
  padding-top: 1.4rem;
  padding-bottom: 1.3rem;
  padding-left: 7%;
  padding-right: 7%;
  /* background-color: rgba(1, 1, 1, 0.8); */
  background-color: var(--primary);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar {
  .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }

  .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
  }

  .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    /* border-bottom: 0.1rem solid var(--primary); */
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

  .navbar-nav a {
    color: #fff;
    margin: 0 0.5rem;
  }

  .navbar-nav a:hover {
    /* color: var(--primary); */
    color: var(--bg);
  }

  /* Navbar search form */
  .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
  }

  .search-form.active {
    transform: scaleY(1);
  }

  .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
  }

  .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
  }

  .navbar-extra .other-extra {
    #hamburger-menu {
      display: none;
    }
    #btnLogin-popup {
      display: inline-flex;
      position: relative;
      margin-top: 0.3rem;
      margin-left: 1rem;
      top: -9px;
      padding: 0.3rem 1rem;
      font-size: 1.2rem;
      color: #fff;
      background-color: rgba(186, 136, 86, 0.9);
      border-radius: 0.5rem;
      box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
      transition: 0.2s;
    }

    #btnLogin-popup:hover {
      color: var(--bg);
      background-color: rgba(213, 163, 112, 0.9);
    }
  }
}

/* Shopping Cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -5px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
  overflow-y: scroll;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 4rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.4rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* Hero Section */

.hero,
.about,
.market,
.contact,
.skema {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }

  a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
  }

  a:hover {
    /* color: var(--primary); */
    color: var(--bg);
    /* mix-blend-mode: difference; */
  }
}

.hero::after,
.about::after,
.market::after,
.contact::after,
.skema::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 12%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero,
.about,
.market,
.skema,
.contact {
  .content {
    padding: 1.2rem 7%;
    max-width: 60rem;
  }
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

/* .hero .content h1 span { */
/* color: var(--primary); */
/* } */

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;

  background-color: rgba(1, 1, 3, 0.5);

  padding: 10px;
  text-align: justify;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

/* About Section */

.about {
  background-image: url("../img/header-bg.jpg");
  padding: 8rem 7% 1.4rem;
}

.market {
  background-image: url("../img/header-bg.jpg");
  padding: 8rem 7% 1.4rem;
}

.products {
  padding-top: 8rem;
  padding-bottom: 1.4rem;
}

.contact {
  background-image: url("../img/header-bg.jpg");
  padding: 8rem 7% 1.4rem;
}

.about .content-wrap h2,
.market .content-wrap h2,
.products h2,
.contact .content-wrap h2 {
  text-align: center;
  font-size: 2.6rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  margin-bottom: 3rem;
}

.about,
.contact {
  .content-wrap .row {
    display: flex;
    margin-bottom: 4.4rem;
  }

  .content-wrap .row .about-img {
    flex: 1 1 30rem;
  }

  .content-wrap .row .about-img img {
    width: 100%;
  }

  .content-wrap .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
  }

  .content-wrap .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .content-wrap .row .content {
    p,
    ul {
      margin-bottom: 0.8rem;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.6;
      background-color: rgba(1, 1, 3, 0.5);
      padding: 10px;
    }

    li {
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}

.contact .content-wrap .row .about-img {
  flex: 1 1 10rem;
}

/* market Section */
.market .content-wrap h2,
.products h2 {
  margin-bottom: 1rem;
}

.market .content-wrap p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
  padding: 10px;
}

.market {
  .content-wrap {
    p {
      background-color: rgba(1, 1, 3, 0.5);
      max-width: 40rem;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      justify-content: center;
      text-align: center;
    }

    .row .menu-card {
      max-width: 25%;
      padding-bottom: 4rem;
    }

    .row .menu-card img {
      border-radius: 50%;
      width: 75%;
      border: 2px solid gray;
    }

    .row .menu-card img:hover {
      outline: 8px solid black;
    }

    .row .menu-card .menu-card-title {
      margin: 0.5rem auto 0.5rem;
      text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
      line-height: 1.2;
    }
  }
}
/* Products Section */
.products {
  .row {
    display: grid;
    /* grid-template-columns: 100px repeat(2, 1fr auto) 200px repeat(3, 5fr); */
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding-left: 20px;
    padding-right: 20px;
    gap: 1rem;
    margin-top: 4rem;
  }

  .product-card {
    text-align: center;
    border-radius: 10%;
    border: 1px solid #666;
    padding: 2rem;
  }

  .product-card:hover {
    outline: 6px solid #666;
    background-color: rgba(38, 94, 163, 0.5);
  }

  .product-icons {
    display: flex;
    /*  */
    display: none;
    /*  */
    justify-content: center;
    gap: 0.5rem;
  }

  .product-icons a {
    width: 4rem;
    height: 4rem;
    color: #fff;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }

  .product-image {
    padding: 1rem 0;
    width: 15rem;
    height: 15rem;
    margin: auto;
  }

  .product-image img {
    border: 2px solid gray;

    max-width: 15rem;
    max-height: 15rem;
  }

  .product-content h3 {
    padding-top: 1rem;
    font-size: 2rem;
  }
  .produccontent p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    line-height: 1.6;
    padding: 10px;
  }

  .product-stars {
    /*  */
    /* display: none; */
    /*  */
    font-size: 1.4rem;
    padding: 0.8rem;
    color: var(--primary);
  }

  .product-stars .star-full {
    fill: var(--primary);
  }

  #product-price {
    font-size: 1.3rem;
    font-weight: bold;
  }

  #product-price .pre-discount {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
  }
}

/* Skema section */
.skema {
  .content {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 6rem;
    object-position: center;
  }

  .content p {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 300;
    color: #000;
    padding: 10px;
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(65, 65, 192, 0.5);
    /* mix-blend-mode: difference; */
  }

  .content .skema-table {
    width: 860px;
    height: 428.667px;
    background-image: url("../img/skema.jpg");

    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    border: transparent 1px solid;
    table-layout: fixed;

    margin-left: auto;
    margin-right: auto;
    object-position: center;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; */
  }
}

/* Contact Section */

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: fit-content;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .icon-close {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content {
  img {
    height: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border: 2px solid gray;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
  }

  #cart-button,
  #phone-button {
    display: inline-flex;
    gap: 1rem;
    width: 15rem;
    font-size: 0.9rem;
    background-color: var(--primary);
    color: #fff;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
    padding-left: 1.2rem;
  }

  .icon-cart,
  .icon-phone {
    font-size: 1.7rem;
    position: relative;
    margin-top: -0.7rem;
  }

  .product-content .product-stars {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .product-content .product-stars .star-full {
    fill: var(--primary);
  }

  .product-content #product-price {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  .product-content #product-price .pre-discount {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
  }
}
/* Login */

.cover_box {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid #c9c8c8;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.5s ease, height 0.2s ease, border-color 0.5s ease;

  position: fixed;
  top: -150%;
  left: 50%;
  transform: translate(-50%, 0);
}

.cover_box:hover {
  border-color: #fff;
  animation: border-glow 1s infinite alternate;
}

@keyframes border-glow {
  from {
    border-color: #f6f8f6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  to {
    border-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}

.cover_box.active-popup {
  // transform: scale(1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.cover_box.active {
  height: 520px;
}

.cover_box .form-box {
  width: 100%;
  padding: 40px;
}

.cover_box .form-box.login {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.cover_box.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.cover_box .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.cover_box.active .form-box.register {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.cover_box .icon-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  background: #05190a;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #05190a;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #05190a;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #05190a;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  color: #05190a;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #05190a;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #05190a;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #05190a;
  margin-right: 3px;
}

.remember-forgot a {
  color: #05190a;
  text-decoration: underline;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #05190a;
  border: none;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #c9c8c8;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #9a9a9a;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar {
    .navbar-extra .other-extra #hamburger-menu {
      display: inline-block;
    }

    .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }

    .navbar-nav.active {
      right: 0;
    }
    .navbar-nav a {
      color: var(--bg);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }

    .navbar-nav a:after {
      transform-origin: 0 0;
    }

    .navbar-nav a:hover:after {
      transform: scaleX(0.2);
    }

    .search-form {
      width: 90%;
      right: 2rem;
    }
  }

  .about,
  .contact {
    .content-wrap .row {
      flex-wrap: wrap;
    }

    .content-wrap .row .about-img img {
      /* height: 24rem; */
      object-fit: cover;
      object-position: center;
    }

    .content-wrap .row .content {
      padding: 0;
    }

    .content-wrap .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }

  .market .content-wrap p {
    font-size: 1.2rem;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .skema .content table {
    width: 400px;
  }
}

/* Mobile */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
